<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<!--Added to protect sensitive data-->

	<!--Replace yourdomain.com below with your actual domain and extension.-->
	<add key="EmailClient" value="mail.michaelredifer.com"/>

	<!--Replace mail@yourdomain.com with the email user created on your hosting account.-->
	<add key="EmailUser" value="administrator@michaelredifer.com"/>

	<!--Replace Password with the password for your email user.-->
	<add key="EmailPass" value="P@ssw0rd"/>

	<!--Replace mail@domain.com with your personal email address.-->
	<add key="EmailTo" value="mikeredifer@yahoo.com"/>
</appSettings>
